<%- include("header") -%>
    <h2>This is about page</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aspernatur, atque nisi, magnam quisquam totam,
        reiciendis a vitae optio deleniti sed esse illo ea unde. Similique maiores consectetur at eum!</p>

    <%- include("footer") -%>